/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Articles included / excluded output
/out

# ASDF version manager file
.tool-versions

# MacOS metadata files
.DS_Store
